
{% extends 'base.html' %} 
{% load static %} 
{% block head %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% endblock %} 
{% block content %}

<section class="device-container">
  <div class="device-img">
    {% if device.image %}
      <img src="{{ device.image.url }}" alt="{{ device.name }}" style="width: 300px; height: auto;">
    {% else %}
      <p>No image available</p>
    {% endif %}
  </div>
  <div class="device-details">
    <h1>{{ device.name }}</h1>
    <p>{{ device.get_category_display }}</p>
    <p>{{ device.description }}</p>
    <p>{{ device.rate }}</p>
    <p>{{ device.warrenty_expration_Date }}</p>
    <p>Owner Opinion</p>
    <p>{{ device.opinion }}</p>
    <div class="device-actions">
      {% if user.is_authenticated and user.id != owner_id %}
        <a href="{% url 'start-chat' owner_id %}" class="btn primary">Chat with Owner</a>
      {% endif %}
      {% if user.is_authenticated and user.id == owner_id %}
        <a href="{% url 'device-update' device.id %}" class="btn warn">Edit</a>
        <a href="{% url 'device-delete' device.id %}" class="btn danger">Delete</a>
      {% endif %}
    
      <form action="{% url 'device-like' device.id %}" method="POST">
        {% csrf_token %}
        {% if user.is_authenticated %}
          {% if user in device.likes.all %}
            <button type="submit" class="btn danger">Unlike ({{ device.total_likes }})</button>
          {% else %}
            <button type="submit" class="btn success">Like ({{ device.total_likes }})</button>
          {% endif %}
        {% else %}
          <p><a href="{% url 'login' %}">Login to like</a></p>
        {% endif %}
      </form>
    </div>
  </div>
</section>
<div>
  <section>
    <div>
      <h2>Comments</h2>
    </div>
    <h3>Add a Comment</h3>
    <form action="{% url 'add-review' device.id %}" method="post" autocomplete="off">
      {% csrf_token %}
      {{ review_form.as_p }}
      <button type="submit" class="btn submit">Add Comment</button>
    </form>
    <h3>All Comments</h3>
    {% if reviews %}
      <table>
        <thead>
          <tr>
            <th>Comments</th>
            <th>User</th>
          </tr>
        </thead>
        <tbody>
          {% for review in reviews %}
          <tr>
            <td>{{ review.comments }}</td>
            <td>{{ review.user.username }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
    <div>
      <p>⚠️ No Comments on this Device yet: {{ device.name }} </p>
    </div>
    {% endif %}
  </section>
</div>
{% endblock %} 