{% extends 'base.html' %} 
{% load static %} 
{% block head %}

{% endblock %} 
{% block content %}
<section class="device-container">
  <div class="device-img">

  </div>
  <div class="device-details">
    <h1>{{ device.name }}</h1>
    <p>{{ device.category }}</p>
    <p>{{ device.rate }}</p>
    <p>{{ device.warrenty_expration_Date }}</p>
    <p>{{ device.opinion }}</p>
    <p>{{ device.likes }}</p>
    <p>{{ device.description }}</p>
    <div class="device-actions">
      {% if owner_id %}
      <a href="{% url 'start-chat' owner_id %}">Chat with Owner</a>
  {% else %}
      <p>Owner not available for chat</p>
  {% endif %}  
      <a href="{% url 'device-update' device.id %}" class="btn warn">Edit</a>
      <a href="{% url 'device-delete' device.id %}" class="btn danger">Delete</a>
      <form action="{% url 'device-like' device.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn success">Like ({{ device.likes }})</button>
      </form>
    </div>
  </div>
</section>

<div>
  <section>
    <div>
      <h2>Comments</h2>
    </div>

    <h3>Add a Comment</h3>
<form action="{% url 'add-review' device.id %}" method="post" autocomplete="off">
  {% csrf_token %} 
  {{ review_form.as_p }}
  <button type="submit" class="btn submit">Add Comment</button>
</form>

<h3>All Comments</h3>
    {% if reviews %}
      <table>
        <thead>
          <tr>
            <th>Comments</th>
            <th>User</th>
          </tr>
        </thead>
        <tbody>
          {% for review in reviews %}
          <tr>
            <td>{{ review.comments }}</td>
            <td>{{ review.user.username }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <div>
        <p>⚠️ No Comments on this Device yet: {{ device.name }} </p>
      </div>
    {% endif %}
  </section>
{% endblock %}
