{% extends 'base.html' %} 
{% block head %} 
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% endblock %}

{% block content %}
<div class="about-section">
    <h1>About Rate My Device</h1>
    <hr />
    <div class="about-content">
        <p>
            At Rate My Device, we believe in empowering users to share their experiences and insights. Our platform allows you to rate the devices you use and connect with other users to gather valuable feedback!
        </p>
        <h3>Why Choose Rate My Device?</h3>
        <ul>
            <li>Engage with a community of tech enthusiasts.</li>
            <li>Get honest reviews and ratings for devices.</li>
            <li>Contribute your experiences to help others make informed choices.</li>
        </ul>
        <h3>Our Vision</h3>
        <p>
            We aim to create a trusted space where users can share their thoughts and experiences, leading to better choices for everyone.
        </p>
        <p>
            Join us and be a part of our growing community!
        </p>
        <strong><p>Add Your Device Now ...</p></strong>
    </div>
</div>
{% endblock %}
