{% extends 'base.html' %}

{% block content %}
<h1>{{ profile_user.username }}'s Profile</h1>


<h2>Devices Owned</h2>
<ul>
    {% for device in devices %}
        <li><a href="{% url 'device-detail' device.id %}">{{ device.name }}</a> -{{ device.category }}</li>
    {% empty %}
        <li>No devices added.</li>
    {% endfor %}
</ul>

<h2>Chats</h2>
<ul>
    {% for chat in chats %}
        <li>
            <a href="{% url 'chat-room' chat.id %}">
                Chat with 
                {% if chat.sender == profile_user %}
                    {{ chat.receiver.username }}
                {% else %}
                    {{ chat.sender.username }}
                {% endif %}
            </a>
        </li>
    {% empty %}
        <li>No chats yet.</li>
    {% endfor %}
</ul>

{% endblock %}
