{% extends 'base.html' %}

{% block content %}
<h1>{{ profile_user.username }}'s Activity</h1>

<h2>Devices Owned</h2>
<ul>
    {% for device in devices %}
        <li><a href="{% url 'device-detail' device.id %}">{{ device.name }}</a> -{{ device.get_category_display }}</li>
    {% empty %}
        <li>No devices added.</li>
    {% endfor %}
</ul>

<h2>Chats</h2>
<ul>
    {% for sender_user, receiver_user in chats %}
        <li>
            <a href="{% url 'chat-room' sender_user.id %}">
                Chat with 
                {% if sender_user == profile_user %}
                    {{ receiver_user.username }}
                {% else %}
                    {{ sender_user.username }}
                {% endif %}
            </a>
        </li>
    {% empty %}
        <li>No chats yet.</li>
    {% endfor %}
</ul>

{% endblock %}
