

.device-details {
  padding-left: 300px; 
  background-color: #81D8D0;
  
}

.device-content-box {
  box-shadow: 0px 4px 10px rgb(255, 8, 0); 
  border-radius: 8px; 
}

.device-content-box, .comments-section .list-group-item {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 3px;
}

.navbar {
  background-color: #000080;
}
.nav-link {
  color: white;
}
