{% extends 'base.html' %}
{% load static %}
{% block head %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% endblock %}
{% block content %}

<div class="page-header">
  {% if object %}
    <h1>Edit {{ object.name }}</h1>
  {% else %}
    <h1>Add a Device</h1>
  {% endif %}
</div>

<form action="" method="post" enctype="multipart/form-data" class="form-container">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <button type="submit" class="btn submit">Submit!</button>
</form>

{% endblock %}
